.top{
    color: white;
    background-color: black;
    text-align: center;
}
li{
    display: inline-block;
    color: gray;
}
h1{
    padding-top:.8%;
}
ul{
    margin-top:-1.5%;
    margin-right: 3.5%;
    padding-bottom: 1%;
}
li:hover{
    color: blue;
    cursor: pointer;
}
#one{
    width:80%;
    height:25%;
    padding-top: 10%;
}
.food{
    display: inline-block;
    border: 2px solid black;
    max-width:20%;
    text-align: center;
    margin: 2.5px;
    margin-top:30px;
    border-radius: 5%;
}
#last{
    /* height:55% ;
    width: 75%;
    padding-top:50%;  */
    width:80%;
    min-height:25%;
    padding-top:10%;
}
#order{
    color: white;
    background-color: black;
    margin-bottom: 5%;
}
.bottom{
    color: white;
    background-color: black;
}
#input{
    text-align: center;
    width: 50%;
    background-color: yellow;
    color: black;
    margin-bottom:2%;
    margin-top:2%;
}
#input:hover{
    transform: scale(1.1);
}
#order:hover{
    transform: scale(1.1);
    cursor:pointer;
}
.food:hover{
    transform: scale(1.1);   
}
p:hover{
    cursor:default;
}
