.head{
    background-color: black;
    color: white;
}
h1,ul,li{
    display: inline-block;
}
li:hover{
    background-color: black;
    color: gray;
}
ul{
    margin-left: 60%;
    cursor: pointer;
}
h1{
    padding-left: .5%;
}
input{
    width: 60%;
    padding:.9%;
}
.search{
    text-align: center;
    margin-top: 4%;
}
.box{
    display: inline-block;
    border: 2px solid black;
    width: 15%;
    text-align: center;
    margin: 0.5%;
    margin-top: 5%;
}
p:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
img,p{
    text-align: center;
}
.bottom{
    background-color: black;
    color:white;
}